    <div class="footer">
        <p class="copyright">
        Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC. © 1995-2019 Wizards. All rights reserved. Azami's Library Inc. is not affiliated with Wizards of the Coast LLC.
        </p>
    </div>
<script type="text/javascript" src="/stylesheets/materialize.js"></script>