<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>cardSearch</title>
</head>

<body>
  <% include ../partials/nav.ejs %>


  <div class="row" style="margin:0px; margin-bottom: 20px">
    <div class="col s4 m4 l4"><br>
      <div class="row">
        <div class="input-field">
          <input id="cardsearch" type="text">
          <label class="active" for="first_name2">name a card to search for</label>
        </div>
        <a class="waves-effect waves-light btn-large blue darken-5 white-text" onclick="submitQuery()">SEARCH</a>
      </div>
      <hr>
      <br>
      <div id="listcontainer">
        <div id="spinner" class="preloader-wrapper big" style="display: none">
          <div class="spinner-layer">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>

            <div class="gap-patch">
              <div class="circle"></div>
            </div>

            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <div id="cardSearchList"></div>
      </div>
    </div>
    <div class="col s8 m8 l8">
      <div id="cardview"></div>
    </div>
  </div>
  <div style="clear: both"></div>

  <!-- footer -->
  <% include ../partials/footer.ejs %>
  <script src="cardSearchViewController.js"></script>

</body>

</html>